@font-face {
    font-family: 'Neometric Bold';
    font-style: normal;
    font-weight: 600;
    src: local('Neometric'), url('https://fonts.cdnfonts.com/s/18720/Unnamed Bold (Regular).woff') format('woff');
}

@font-face {
    font-family: 'Neometric Medium';
    font-style: normal;
    font-weight: 500;
    src: local('Neometric'), url('https://fonts.cdnfonts.com/s/18720/Neometric Medium (Regular).woff') format('woff');
}

@font-face {
    font-family: 'Nasalization';
    /* font-style: normal; */
    /* font-weight: 400; */
    src: local('Nasalization'), url('https://fonts.cdnfonts.com/s/26353/NASALIZA.woff') format('woff');
}

@font-face {
    font-family: 'NasalizationLight';
    font-style: normal;
    /* font-weight: 400; */
    src: url('/assets/fonts/Nasalization Rg.otf') format('opentype'),
}

.m-t-20 {
    margin-top: 20px;
}

/* === DASHBOARD CONTAINER === */
.dashboard-container {
    font-family: 'Neometric Regular';
    background-color: #f6f6f6;

}

/* === DASHBOARD CONTENT === */
.dashboard-content {
    display: flex;
    flex-direction: column;
    padding: 20px;
    height: calc(100vh - 100px);
    overflow-y: scroll;
    
}

/* === CENTER POPUP STYLES === */

.center-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.popup-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    width: 400px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popup-body {
    margin-top: 15px;
}

.close-btn {
    cursor: pointer;
    font-size: 20px;
    border: none;
    background: transparent;
}


/* === DASHBOARD CONTENT SECTION === */
.dashboard-content-section {
    padding-bottom: 15px;
}

.section-header {
    font-family: 'Neometric Bold';

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.section-header h2 {
    opacity: 0.15;
    font-size: 20px;
    font-family: 'Neometric Bold';
    font-weight: 600;
    color: #333;
}

/* === CALENDAR SECTION BODY === */
.calender-section-body {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(12, 1fr);
    gap: 16px;
}

.filters-title {
    margin: 0;
    font-weight: bold;
    font-size: 12px;
    font-family: 'Neometric Medium';

}

.period-dropdown {
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #ffffff;
    background-color: #ff0000;
    cursor: pointer;
    color: #ffffff;
    font-size: 12px;
    font-family: 'Neometric Medium';
}

.filters {
    display: flex;
    gap: 20px;
    align-items: center;
}

.filter {
    display: flex;
    gap: 50px;
    align-items: center;
}

.filter-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* Toggle switch CSS */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.3s;
    border-radius: 24px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: 0.3s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: #4caf50;
}

input:checked+.slider:before {
    transform: translateX(26px);
}

.calender-first-section {
    grid-column: span 6;
}

.calender-second-section {
    grid-column: span 3;
}

.calender-third-section {
    grid-column: span 3;
}

.calender-fifth-section {
    grid-column: span 6;
}

.calender-sixth-section {
    grid-column: span 5;
}

.calender-seventh-section {
    grid-column: span 1;
}

.more-less-toggle button {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px 10px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    font-size: 14px;

}

.more-less-toggle .btn-text {
    font-weight: bold;
    font-size: 12px;
    font-family: 'Neometric Medium';
}

.m-t-20 {
    margin-top: 20px;
}

/* === FILTERS === */
.filters {
    display: inline-flex;
    gap: 0.5rem;
    margin-left: 1rem;
    height: 25px;

}
.icons-group {
  display: flex;
  gap: 16px;
}

.icon-section {
  display: flex;
  align-items: center;
  gap: 6px;
}

.icon-image {
  width: 12px;
  height: 12px;
  object-fit: contain;
}
.escalated-card-content{
display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 5px;
    font-size: 12px;
    font-family: Neometric Medium;
}

  .labelmargin{
 margin: 0px 0 0 0;
  } 

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: inline-block;
}

:host ::ng-deep .custom-header {
    font-family: 'Neometric Medium' !important;
    font-size: 12px !important;
}

:host ::ng-deep .custom-cell {
    font-family: 'Neometric Medium' !important;
    font-size: 12px !important;
    /* width: auto !important; */
}

:host ::ng-deep .ag-paging-panel {
    font-family: 'Neometric Medium' !important;
    font-size: 12px !important;
     /* width: auto !important; */
}

.filters button {
    padding: 4px 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    background: #fff;
    color: #444;
    cursor: pointer;
    transition: background 0.2s ease;
    font-size: 12px;
    font-family: 'Neometric Medium';
}

.filters button:hover {
    background: #f2f2f2;
}

.filters button.active {
    background: black;
    color: #fff;
    border-color: black;
}

.calender-escalated-card {
    cursor: pointer;
    transition: transform 0.2s;
}

.calender-escalated-card:hover {
    transform: scale(1.02);
}

.right-popup {
    position: fixed;
    top: 0;
    right: 0;
    width: 550px;
    height: 100vh;
    /* Full container height */
    background: #fff;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    z-index: 999;
    animation: slideIn 0.3s ease-out;
}

.right-tablepopup {
    position: fixed;
    top: 0;
    right: 0;
    width: 1050px;
    height: 100vh;
    /* Full container height */
    background: #fff;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    z-index: 999;
    animation: slideIn 0.3s ease-out;
}

.label {
    margin: 0 0 0 15px;
}

.popup-header-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 60%;
    flex-direction: row;
    font-family: 'Neometric Bold';
    font-size: 14px;
}

.popup-header {
    padding: 16px;
    background: #ED3237;
    color: #fff;


    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.play-text {
    font-family: 'Neometric Bold';
    font-size: 14px;
    margin: 0px;
}

.dot-item {
  display: flex;
  justify-content: space-between; /* pushes dot to left, value to right */
  align-items: center; /* vertically centers them */
  width: 100px; /* or any width you need */
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}


.dot-value {
    color: rgb(237, 50, 55);
    font-size: 14px;
    margin: 0;
    font-family: 'NasalizationLight';
}

.play-popup-header {
    padding: 16px;
    background: #ED3237;
    color: #fff;


    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* .icon-info .label{
        font-family: 'Neometric Regular';
}
.popup-header-content .icon{
      height: 18px;
} */

.popup-body {
    padding: 16px;
    overflow-y: auto;
    flex: 1;
}

.close-btn {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

@keyframes slideIn {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}


/* === CALENDAR SECTION === */
.calendar-section-wrapper {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.calendar-section {
    display: flex;
    align-items: center;
    gap: 10px;
}

.calendar-icon {
    cursor: pointer;
    width: 30px;
    height: 30px;
    background-color: #ff0000;
    display: inline-block;
    border-radius: 50%;
    margin-right: 6px;
}

.calendar-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.selected-date p {
    margin: 0;
    font-weight: bold;
    font-size: 12px;
    font-family: 'Neometric Medium';
}


.arrow {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.more-less-btn {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px 10px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
}

.more-less-btn .btn-text {
    font-weight: bold;
    font-size: 12px;
    font-family: 'Neometric Medium';
}

.more-arrow {

    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    cursor: pointer;

    transition: all 0.3s ease;
}

/* component CSS or global styles */


.ag-header-cell-label {
    justify-content: flex-end;
}

.arrow:hover {
    background-color: #f0f0f0;
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
}

.today-button {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    font-family: 'Neometric Medium';
}

/* === CALENDAR ESCALATED SECTION === */
.escalated-section {
    display: flex;
    gap: 16px;
    padding: 0;
    width: 100%;
}

.calender-escalated-card {
    flex: 1 1 0;
    min-width: 0;
    background: #fff;
    border-radius: 8px;
    padding: 10px;
}

.calender-escalated-card-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
}

.escalated-icon {
    height: 18px;
    width: 18px;
}

.calender-escalated-card h4 {
    margin: 0px;
    font-size: 12px;
    font-weight: 600;
    font-family: 'NasalizationLight';
}

.calender-escalated-card p {
    font-size: 14px;
    margin: 0;
    font-family: 'NasalizationLight';
}

/* === SEARCH BAR === */
.search-wrapper {
    width: -webkit-fill-available;
}

.search-input {
    width: -webkit-fill-available;
    padding: 8px 12px;
    border-radius: 25px;
    border: 1px solid #ccc;
    font-size: 15px;
    /* height: 25px; */
}

/* === CALENDAR POPUP === */


/* Overlay (black with opacity) */
.calendar-popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    /* black with 60% opacity */
    z-index: 1000;
}

/* Popup itself */
.calendar-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    z-index: 1001;
    /* above overlay */
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.3);
}


.popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.close-button {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

.popup-content {
    font-size: 14px;
}

.arrow-up::before {
    content: '↑';
    /* Up arrow */
    font-size: 14px;
    /* adjust size if needed */
    margin-left: 5px;
}

.arrow-down::before {
    content: '↓';
    /* Down arrow */
    font-size: 14px;
    /* adjust size if needed */
    margin-left: 5px;
}

/* === ESCALATED CONTENT SECTION === */
/* .escalated-content-section {
    padding-bottom: 15px;
} */

.escalated-section-body {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 16px;
}

.first-section {
    grid-column: span 12;
}

.second-section {
    grid-column: span 3;
    height: -webkit-fill-available;
}

.dots-column {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

/* right row for icons */
.icons-group {
  display: flex;
  gap: 20px;
}

.icon {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
}

.icons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    opacity: 40%;
    align-items: flex-end;
}

.escalated-card {
  flex: 1 1 0;
  min-width: 0;
  background: #fff;
  border-radius: 8px;
  padding: 10px;
}

.escalated-card h4 {
    margin: 0px 0 0 0;
    font-size: 12px;
    font-weight: 600;
    font-family: 'Neometric Medium';

}

.escalated-card p {
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    font-family: 'NasalizationLight';
}

/* === EVENT ESCALATED CARD === */
.event-escalated-card {
    flex: 1 1 0;
    min-width: 0;
    background: #fff;
    border-radius: 8px;
    padding: 10px;
    border: 1px solid red;
}

.event-escalated-card-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    margin-top: 20px;
    font-size: 12px;
    font-family: 'Neometric Medium';
}

.green,
.orange,
.red {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 6px;
}

.green {
    background-color: green;
}

.orange {
    background-color: orange;
}

.red {
    background-color: red;
}

/* === RESPONSIVE QUERIES === */
@media (max-width: 900px) {
    .escalated-section {
        flex-direction: column;
        gap: 10px;
    }
}

@media (max-width: 600px) {
    .calendar-section {
        gap: 5px;
        margin-top: 10px;
        flex-wrap: wrap;
    }
}

@media (max-width: 400px) {
    .calendar-section {
        flex-direction: column;
        align-items: flex-start;
        gap: 3px;
    }
}