<div class="dashboard-container">
  <div class="dashboard-content">
    <div class="dashboard-content-section">
      <div class="section-header">
        <h2>EVENTS</h2>
        <div class="filters">
          <button
            [class.active]="selectedFilter === 'CLOSED'"
            (click)="setFilter('CLOSED')"
          >
            CLOSED
          </button>
          <button
            [class.active]="selectedFilter === 'PENDING'"
            (click)="setFilter('PENDING')"
          >
            PENDING
          </button>
        </div>
      </div>

      <div class="calender-section-body">
        <!-- Add calendar section below the dashboard header -->

        <div class="calendar-section-wrapper calender-first-section">
          <app-calendar></app-calendar>
        </div>
        <!-- Toggle Switches -->
        <div class="escalated-section calender-second-section">
          <div class="filter" *ngIf="selectedFilter === 'CLOSED'">
            <div class="filter-item">
              <h3 class="filters-title">SUSPICIOUS</h3>
              <label class="switch">
                <input
                  type="checkbox"
                  [checked]="suspiciousChecked"
                  (click)="onSuspiciousToggle()"
                />

                <span class="slider round"></span>
              </label>
            </div>

            <div class="filter-item">
              <h3 class="filters-title">FALSE</h3>
              <label class="switch">
                <input
                  type="checkbox"
                  [checked]="falseChecked"
                  (click)="onFalseToggle()"
                />
                <span class="slider round"></span>
              </label>
            </div>
          </div>
          <div class="filter" *ngIf="selectedFilter === 'PENDING'">
            <div class="filter-item">
              <h3 class="filters-title">CONSOLES</h3>
              <label class="switch">
                <input type="checkbox" />
                <span class="slider round"></span>
              </label>
            </div>

            <div class="filter-item">
              <h3 class="filters-title">QUEUES</h3>
              <label class="switch">
                <input type="checkbox" />
                <span class="slider round"></span>
              </label>
            </div>
          </div>
        </div>

    <!-- Right-side Popup -->
        <!-- <div class="right-popup" *ngIf="isPopupVisible">
          <div class="popup-header">
            <div class="popup-header-content">
              <img
                *ngIf="selectedItem?.iconPath"
                [src]="selectedItem.iconPath"
                alt="icon"
              />
              <div class="icon-info">
                <p class="label">
                  {{ getIconLabel(selectedItem?.iconPath) }}
                </p>
              </div>
            </div>
            <div *ngIf="selectedDate" class="selected-date">
              <p>{{ selectedDate | date : "dd MMMM, yyyy" }}</p>
            </div>
            <button class="close-btn" (click)="closePopup()">×</button>
          </div>
          <div class="popup-body">
            <div class="escalated-content-section">
              <ag-grid-angular
                style="width: 100%; height: 100vh"
                class="ag-theme-alpine"
                 theme="legacy"
                [rowData]="popupRowData"
                [columnDefs]="popupColumnDefs"
                [defaultColDef]="{
                  resizable: true,
                  sortable: true,
                  filter: true
                }"
                [pagination]="true"
                [paginationPageSize]="10"
                [localeText]="localeText"
              >
              </ag-grid-angular>
            </div>
          </div>
        </div> -->

        <!-- Right-side Popup for ESCALATION DETAILS -->
        <div class="right-tablepopup" *ngIf="isTablePopupVisible">
          <div class="popup-header">
            <div class="popup-header-content">
              <img
                *ngIf="selectedItem?.iconPath"
                [src]="selectedItem.iconPath"
                alt="icon"
              />
              <div class="icon-info">
                <p class="label">ESCALATION DETAILS</p>
              </div>
            </div>
            <div *ngIf="selectedDate" class="selected-date">
              <p>{{ selectedDate | date : "dd MMMM, yyyy" }}</p>
            </div>
            <button class="close-btn" (click)="closePopup()">×</button>
          </div>
          <div class="popup-body">
            <div class="escalated-content-section">
              <app-escalation-popup></app-escalation-popup>
            </div>
          </div>
        </div>


        <!-- end    -->
        <div class="calender-escalated-section calender-third-section">
          <!-- Search bar -->
          <div class="search-wrapper">
            <input
              type="text"
              placeholder="Search here"
              [(ngModel)]="searchTerm"
              class="search-input"
              (input)="onFilterTextBoxChanged()"
            />
          </div>
        </div>

        <!-- Centered Popup for PLAY ICON -->
        <div class="center-popup" *ngIf="isPlayPopupVisible">
          <div class="popup-overlay" (click)="closePlayPopup()"></div>
          <div class="popup-content">
            <div class="play-popup-header">
              <p class="play-text">
                <strong>DEVICE ID:</strong> {{ selectedPlayItem?.device }}
              </p>
              <button class="close-btn" (click)="closePlayPopup()">×</button>
            </div>
            <div class="popup-body">
              <div *ngIf="selectedPlayItem?.videoFile?.length; else noVideo">
                <div class="carousel">
                  <button class="carousel-btn" (click)="prevSlide()">‹</button>
                  <img
                    [src]="selectedPlayItem.videoFile[currentSlideIndex]"
                    alt="Slide Image"
                  />
                  <button class="carousel-btn" (click)="nextSlide()">›</button>
                </div>
                <p class="slide-counter">
                  {{ currentSlideIndex + 1 }} /
                  {{ selectedPlayItem.videoFile.length }}
                </p>
              </div>

              <ng-template #noVideo>
                <p>No video available</p>
              </ng-template>
            </div>
          </div>
        </div>

        <!-- Calendar Popup -->
        <div
          class="calendar-popup-overlay"
          *ngIf="isCalendarPopupOpen"
          (click)="closeCalendarPopup()"
        ></div>

        <div class="calendar-popup" *ngIf="isCalendarPopupOpen">
          <div class="popup-header">
            <h3>Calendar</h3>
            <button class="close-button" (click)="closeCalendarPopup()">
              ✖
            </button>
          </div>
          <div class="popup-content">
            <mat-calendar
              [(selected)]="selectedDate"
              (selectedChange)="onDateSelected($event)"
            ></mat-calendar>
          </div>
        </div>
      </div>

      <div class="calender-section-body m-t-20">
        <!-- Calendar cards -->
        <div class="escalated-section calender-fifth-section">
          <div
            class="calender-escalated-card"
            *ngFor="let e of secondEscalatedDetails"
          >
            <div class="calender-escalated-card-content">
              <!-- Show label if present -->
              <ng-container *ngIf="e.label; else nonLabelTemplate">
                <h4>{{ e.label }}</h4>
                <p [ngStyle]="{ color: e.color }">{{ e.value }}</p>
              </ng-container>

              <!-- Show icon or color dot if no label -->
              <ng-template #nonLabelTemplate>
                <!-- If iconPath -->
                <ng-container *ngIf="e.iconPath; else colorDotTemplate">
                  <img [src]="e.iconPath" alt="icon" class="escalated-icon" />
                  <p [ngStyle]="{ color: e.color }">{{ e.value }}</p>
                </ng-container>

                <!-- If iconcolor -->
                <ng-template #colorDotTemplate>
                  <div class="dot-item">
                    <span
                      class="dot"
                      [style.background-color]="e.iconcolor"
                    ></span>
                    <span class="dot-value">{{ e.value }}</span>
                  </div>
                </ng-template>
              </ng-template>
            </div>
          </div>
        </div>
        <div class="escalated-section calender-sixth-section"></div>
        <!-- More/Less toggle button -->
     <!-- More/Less toggle button -->
<div class="escalated-section calender-seventh-section">
  <div class="more-less-toggle" (click)="toggleMore()">
    <button>
      <span class="btn-text">{{ showMore ? "Less" : "More" }}</span>
      <span class="more-arrow">
        <i [ngClass]="showMore ? 'arrow-up' : 'arrow-down'"></i>
      </span>
    </button>
  </div>
</div>
      </div>

      <!-- Expandable section -->
      <div class="m-t-20" *ngIf="showMore">
        <!-- CLOSED more section -->
        <ng-container *ngIf="selectedFilter === 'CLOSED'">
          <div class="escalated-content-section">
            <div class="escalated-section-body">
              <div class="escalated-section first-section">
                <div class="escalated-card" *ngFor="let e of escalatedDetailsClosed">
                  <div class="escalated-card-content">
                    <h4 class="labelmargin">{{ e.label }}</h4>
                    <p [ngStyle]="{ color: e.color }">{{ e.value }}</p>
                  </div>

                  <div class="icons">
                    <!-- Dots -->
                    <div class="dots-column" *ngIf="e.colordot">
                      <div class="icon-section" *ngFor="let dot of e.colordot">
                        <span
                          class="dot"
                          [ngStyle]="{ 'background-color': dot.iconcolor }"
                        ></span>
                        <span>{{ dot.count }}</span>
                      </div>
                    </div>

                    <!-- Icons -->
                    <div class="icons-group" *ngIf="e.icons">
                      <div class="icon-section" *ngFor="let icon of e.icons">
                        <img
                          [src]="icon.iconPath"
                          alt="icon"
                          class="icon-image"
                          [ngClass]="{
                            'cam-icon': icon.iconPath.includes('cam.svg')
                          }"
                        />
                        <span>{{ icon.count }}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-container>

        <!-- PENDING more section -->
        <ng-container *ngIf="selectedFilter === 'PENDING'">
          <div class="escalated-content-section">
            <div class="escalated-section-body">
              <div class="escalated-section first-section">
                <div class="escalated-card" *ngFor="let e of escalatedDetailsPending">
                  <div class="escalated-card-content">
                    <h4 class="labelmargin">{{ e.label }}</h4>
                    <p [ngStyle]="{ color: e.color }">{{ e.value }}</p>
                  </div>

                  <div class="icons">
                    <!-- Dots -->
                    <div class="dots-column" *ngIf="e.colordot">
                      <div class="icon-section" *ngFor="let dot of e.colordot">
                        <span
                          class="dot"
                          [ngStyle]="{ 'background-color': dot.iconcolor }"
                        ></span>
                        <span>{{ dot.count }}</span>
                      </div>
                    </div>

                    <!-- Icons -->
                    <div class="icons-group" *ngIf="e.icons">
                      <div class="icon-section" *ngFor="let icon of e.icons">
                        <img
                          [src]="icon.iconPath"
                          alt="icon"
                          class="icon-image"
                          [ngClass]="{
                            'cam-icon': icon.iconPath.includes('cam.svg')
                          }"
                        />
                        <span>{{ icon.count }}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </div>

      <!-- PENDING View -->

      <div class="m-t-20" *ngIf="selectedFilter === 'PENDING'">
        <div class="escalated-content-section">
          <ag-grid-angular
            style="width: 100%"
            theme="legacy"
            class="ag-theme-alpine"
            [rowData]="pendingRowData"
            [columnDefs]="pendingColumnDefs"
            [defaultColDef]="defaultColDef"
            [pagination]="true"
            [paginationPageSize]="10"
            domLayout="autoHeight"
            [quickFilterMatcher]="pendingQuickFilterMatcher"
            [paginationPageSizeSelector]="[10, 20, 50, 100]"
            (gridReady)="onGridReady($event)"
            (cellClicked)="onCellClicked($event)"
          >
          </ag-grid-angular>
        </div>
      </div>
      

      <!-- AG Grid sample table -->
      <div class="m-t-20" *ngIf="selectedFilter === 'CLOSED'">
        <div class="escalated-content-section">
          <ag-grid-angular
            style="width: 100%"
            theme="legacy"
            class="ag-theme-alpine"
            [rowData]="rowData"
            [columnDefs]="closedColumnDefs"
            [defaultColDef]="{ resizable: true,}"
            [pagination]="true"
            [paginationPageSize]="10"
            [paginationPageSizeSelector]="[10, 20, 50, 100]"
            [localeText]="localeText"
            domLayout="autoHeight"
            [quickFilterMatcher]="closedQuickFilterMatcher"
            (gridReady)="onGridReady($event)"
            (cellClicked)="onCellClicked($event)"
          >
          </ag-grid-angular>
        </div>
      </div>
    </div>
  </div>
</div>
