<div class="dashboard-container">
  <div class="dashboard-content">
    <!-- ===================== Dashboard Header ===================== -->
    <div class="dashboard-content-section">
      <div class="section-header">
        <h2>EVENTS</h2>

        <!-- Filter Buttons -->
        <div class="filters">
          <button
            [class.active]="selectedFilter === 'CLOSED'"
            (click)="setFilter('CLOSED')"
          >
            CLOSED
          </button>
          <button
            [class.active]="selectedFilter === 'PENDING'"
            (click)="setFilter('PENDING')"
          >
            PENDING
          </button>
        </div>
      </div>

      <!-- ===================== Calendar & Toggles Section ===================== -->
      <div class="calender-section-body">
        <!-- Calendar -->
        <div class="calendar-section-wrapper calender-first-section">
          <!-- Show Calendar if CLOSED -->
          <app-calendar
            *ngIf="selectedFilter === 'CLOSED'"
            (dateRangeSelected)="onDateRangeSelected($event)"
          ></app-calendar>

          <!-- Show current datetime if PENDING -->
          <div *ngIf="selectedFilter === 'PENDING'" class="current-datetime">
            {{ currentDateTime | date : "dd MMM, yyyy HH:mm a" | uppercase }}
          </div>
        </div>

        <!-- Toggle Switches based on selected filter -->
        <div class="escalated-section calender-second-section">
          <!-- CLOSED filter toggles -->
          <div class="filter" *ngIf="selectedFilter === 'CLOSED'">
            <div class="filter-item">
              <h3 class="filters-title">SUSPICIOUS</h3>
              <label class="switch">
                <input
                  type="radio"
                  name="closedFilter"
                  [checked]="suspiciousChecked"
                  (change)="onSuspiciousToggle()"
                />
                <span class="slider round"></span>
              </label>
            </div>

            <div class="filter-item">
              <h3 class="filters-title">FALSE</h3>
              <label class="switch">
                <input
                  type="radio"
                  name="closedFilter"
                  [checked]="falseChecked"
                  (change)="onFalseToggle()"
                />
                <span class="slider round"></span>
              </label>
            </div>
          </div>

          <!-- PENDING filter toggles -->
          <div class="filter" *ngIf="selectedFilter === 'PENDING'">
            <div class="filter-item">
              <h3 class="filters-title">CONSOLES</h3>
              <label class="switch">
                <input
                  type="radio"
                  name="pendingFilter"
                  [checked]="consolesChecked"
                  (change)="onconsolesToggle()"
                />
                <span class="slider round"></span>
              </label>
            </div>

            <div class="filter-item">
              <h3 class="filters-title">QUEUES</h3>
              <label class="switch">
                <input
                  type="radio"
                  name="pendingFilter"
                  [checked]="queuesChecked"
                  (change)="onqueuesToggle()"
                />
                <span class="slider round"></span>
              </label>
            </div>
          </div>
        </div>

        <!-- ===================== Right-side ESCALATION Popup ===================== -->
        <div class="right-tablepopup" *ngIf="isTablePopupVisible">
          <div class="popup-header">
            <div class="popup-header-content">
              <img
                *ngIf="selectedItem?.iconPath"
                [src]="selectedItem.iconPath"
                alt="icon"
              />
              <div class="icon-info">
                <p class="label">ESCALATION DETAILS</p>
              </div>
            </div>
            <!-- <div *ngIf="selectedDate" class="selected-date">
              <p>{{ selectedDate | date : "dd MMMM, yyyy" | uppercase }}</p>
            </div> -->
            <button class="close-btn" (click)="closePopup()">×</button>
          </div>
          <div class="popup-body">
            <div class="escalated-content-section">
              <app-escalation-popup
                [isVisible]="isTablePopupVisible"
                [selectedItem]="selectedItem"
                (close)="closePopup()"
              >
              </app-escalation-popup>
            </div>
          </div>
        </div>

        <!-- ===================== Search Section ===================== -->
        <div class="calender-escalated-section calender-third-section">
          <div class="search-wrapper">
            <input
              type="text"
              placeholder="Search here"
              [(ngModel)]="searchTerm"
              class="search-input"
              (input)="onFilterTextBoxChanged()"
            />
          </div>
        </div>

        <!-- ===================== Centered Play Popup ===================== -->
       <div class="center-popup" *ngIf="isPlayPopupVisible">
  <div class="popup-overlay" (click)="closePlayPopup()"></div>
  <div class="popup-content">
    <div class="play-popup-header">
      <div class="play-popup-header-content">
        <p class="play-text">{{ selectedPlayItem?.siteId }}</p>
        <p class="play-text1">
          {{ selectedPlayItem?.siteName }} | {{ selectedPlayItem?.cameraId }}
        </p>
      </div>

      <button class="close-btn" (click)="closePlayPopup()">
        <img src="../../../assets/Dounload.svg" alt="download" class="escalated-icon" />
        <img src="../../../assets/close-filled-black.svg" alt="close" class="escalated-icon" />
      </button>
    </div>

    <div class="popup-body">
      <!-- Safe video URL -->
      <iframe
        *ngIf="safeVideoUrl; else noVideo"
        [src]="safeVideoUrl"
        width="100%"
        height="276px"
        style="border:0;"
        allow="autoplay; fullscreen; camera; microphone"
      ></iframe>

      <ng-template #noVideo>
        <p>No video available</p>
      </ng-template>
    </div>
  </div>
</div>

        <!-- ===================== Calendar Popup ===================== -->
        <div
          class="calendar-popup-overlay"
          *ngIf="isCalendarPopupOpen"
          (click)="closeCalendarPopup()"
        ></div>
        <div class="calendar-popup" *ngIf="isCalendarPopupOpen">
          <div class="popup-header">
            <h3>Calendar</h3>
            <button class="close-button" (click)="closeCalendarPopup()">
              ✖
            </button>
          </div>
          <div class="popup-content">
            <mat-calendar
              [(selected)]="selectedDate"
              (selectedChange)="onDateSelected($event)"
            ></mat-calendar>
          </div>
        </div>
      </div>

      <!-- ===================== Calendar Cards Section ===================== -->
      <div class="calender-section-body m-t-20">
        <div class="escalated-section calender-fifth-section">
          <div
            class="calender-escalated-card"
            *ngFor="let e of secondEscalatedDetails"
          >
            <div class="calender-escalated-card-content">
              <ng-container *ngIf="e.label; else nonLabelTemplate">
                <h4>{{ e.label }}</h4>
                <p [ngStyle]="{ color: e.color }">{{ e.value }}</p>
              </ng-container>

              <ng-template #nonLabelTemplate>
                <ng-container *ngIf="e.iconPath; else colorDotTemplate">
                  <img [src]="e.iconPath" alt="icon" class="escalated-icon" />
                  <p [ngStyle]="{ color: e.color }">{{ e.value }}</p>
                </ng-container>

                <ng-template #colorDotTemplate>
                  <div class="dot-item">
                    <div
                      class="dot"
                      [style.background-color]="e.iconcolor"
                    ></div>
                    <div class="dot-value">{{ e.value }}</div>
                  </div>
                </ng-template>
              </ng-template>
            </div>
          </div>
        </div>

        <div class="escalated-section calender-sixth-section"></div>

        <!-- More/Less toggle button -->
        <div class="escalated-section calender-seventh-section">
          <div class="more-less-toggle" (click)="toggleMore()">
            <button>
              <i [ngClass]="showMore ? 'arrow-up' : 'arrow-down'"></i>
              <span class="btn-text">{{ showMore ? "LESS" : "MORE" }}</span>
            </button>
          </div>
        </div>
      </div>

      <!-- ===================== Expandable More Section ===================== -->
      <div class="m-t-20" *ngIf="showMore">
        <!-- CLOSED More Section -->
        <ng-container *ngIf="selectedFilter === 'CLOSED'">
          <div class="escalated-content-section">
            <div class="escalated-section-body">
              <div class="escalated-section first-section">
                <div
                  class="escalated-card"
                  *ngFor="let e of escalatedDetailsClosed"
                >
                  <div class="escalated-card-content">
                    <h4 class="labelmargin">{{ e.label }}</h4>
                    <p [ngStyle]="{ color: e.color }">{{ e.value }}</p>
                  </div>

                  <div class="icons">
                    <!-- Dots -->
                    <div class="dots-column" *ngIf="e.colordot">
                      <div class="icon-section" *ngFor="let dot of e.colordot">
                        <span
                          class="dot"
                          [ngStyle]="{ 'background-color': dot.iconcolor }"
                        ></span>
                        <span>{{ dot.count }}</span>
                      </div>
                    </div>

                    <!-- Icons -->
                    <div class="icons-group" *ngIf="e.icons">
                      <div class="icon-section" *ngFor="let icon of e.icons">
                        <img
                          [src]="icon.iconPath"
                          alt="icon"
                          class="icon-image"
                          [ngClass]="{
                            'cam-icon': icon.iconPath.includes('cam.svg')
                          }"
                        />
                        <span>{{ icon.count }}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-container>

        <!-- PENDING More Section -->
        <ng-container *ngIf="selectedFilter === 'PENDING'">
          <div class="escalated-content-section">
            <div class="escalated-section-body">
              <div class="escalated-section first-section">
                <div
                  class="escalated-card"
                  *ngFor="let e of escalatedDetailsPending"
                >
                  <div class="escalated-card-content">
                    <h4 class="labelmargin">{{ e.label }}</h4>
                    <p [ngStyle]="{ color: e.color }">{{ e.value }}</p>
                  </div>

                  <div class="icons">
                    <!-- Dots -->
                    <div class="dots-column" *ngIf="e.colordot">
                      <div class="icon-section" *ngFor="let dot of e.colordot">
                        <span
                          class="dot"
                          [ngStyle]="{ 'background-color': dot.iconcolor }"
                        ></span>
                        <span>{{ dot.count }}</span>
                      </div>
                    </div>

                    <!-- Icons -->
                    <div class="icons-group" *ngIf="e.icons">
                      <div class="icon-section" *ngFor="let icon of e.icons">
                        <img
                          [src]="icon.iconPath"
                          alt="icon"
                          class="icon-image"
                          [ngClass]="{
                            'cam-icon': icon.iconPath.includes('cam.svg')
                          }"
                        />
                        <span>{{ icon.count }}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </div>

      <!-- ===================== AG Grid Tables ===================== -->

      <!-- PENDING Table -->
      <div class="m-t-20" *ngIf="selectedFilter === 'PENDING'">
        <div class="escalated-content-section">
          <div class="ag-grid-wrapper">
            <ag-grid-angular
              style="width: 100%"
              theme="legacy"
              class="ag-theme-alpine"
              [rowData]="pendingRowData"
              [columnDefs]="pendingColumnDefs"
              [defaultColDef]="defaultColDef"
              [pagination]="true"
              [paginationPageSize]="10"
              domLayout="autoHeight"
              [enableCellTextSelection]="true"
              [enableRangeSelection]="true"
              [copyHeadersToClipboard]="true"
              [quickFilterMatcher]="pendingQuickFilterMatcher"
              [paginationPageSizeSelector]="[10, 20, 50, 100]"
              (gridReady)="onGridReady($event)"
              (cellClicked)="onCellClicked($event)"
              [statusBar]="statusBar"
            >
            </ag-grid-angular>
          </div>
          <!-- Hidden template for pagination controls -->

          <div
            #paginationControls
            class="pagination-controls"
            style="display: none"
          >
            <div class="dot-eventwall"></div>
            <label class="event-wall-label">Event Wall</label>
            <div class="dot-manualwall"></div>
            <label class="manual-wall-label">Manual Wall</label>
            <button class="refreshbutton" (click)="refreshData()">
              <img
                src="../../../assets/refresh-circle-sharp.svg"
                alt="icon"
                class="escalated-icon refresh-icon"
              />
              Refresh
            </button>
            <select
              class="refresh-interval-select"
              [(ngModel)]="refreshInterval"
              (change)="onIntervalChange(refreshInterval)"
            >
              <option *ngFor="let min of [1, 5, 10, 15, 30]" [value]="min">
                {{ min }} min
              </option>
            </select>
          </div>
        </div>
      </div>

      <!-- CLOSED Table -->
      <div class="m-t-20" *ngIf="selectedFilter === 'CLOSED'">
        <div class="escalated-content-section">
          <ag-grid-angular
            style="width: 100%"
            theme="legacy"
            class="ag-theme-alpine"
            [rowData]="rowData"
            [columnDefs]="closedColumnDefs"
            [defaultColDef]="{ resizable: true }"
            [pagination]="true"
            [enableCellTextSelection]="true"
            [enableRangeSelection]="true"
            [copyHeadersToClipboard]="true"
            [paginationPageSize]="10"
            [paginationPageSizeSelector]="[10, 20, 50, 100]"
            [localeText]="localeText"
            domLayout="autoHeight"
            [quickFilterMatcher]="closedQuickFilterMatcher"
            (gridReady)="onGridReady($event)"
            (cellClicked)="onCellClicked($event)"
          ></ag-grid-angular>
        </div>
      </div>
    </div>
  </div>
</div>
