<div class="popup-container">
  <div class="section">
    <!-- BASIC INFO -->
    <div class="basic-info" *ngIf="selectedEvent">
      <h2>BASIC INFO</h2>
      <div class="info-table">
        <div class="row" *ngFor="let info of basicInfoFields">
          <div class="label">{{ info.label }}</div>
          <div class="colon">:</div>
          <div class="value">
            <span
              *ngIf="info.field === 'eventType'"
              class="dot"
              [ngStyle]="{
                'background-color': getEventDotColor(selectedEvent[info.field])
              }"
            >
            </span>
            {{ selectedEvent[info.field] || info.default || "--" }}
          </div>
        </div>
      </div>
    </div>

    <!-- ALARM EVENTS -->
    <div class="alarm-events">
      <h2>ALARM EVENTS ON</h2>
      <ag-grid-angular
        style="width: 100%"
        theme="legacy"
        class="ag-theme-alpine"
        [rowData]="alarmRowData"
        [columnDefs]="alarmColumnDefs"
        [defaultColDef]="defaultColDef"
        [defaultColDef]="{ resizable: true }"
        [enableCellTextSelection]="true"
        [enableRangeSelection]="true"
        [copyHeadersToClipboard]="true"
        [pagination]="true"
        [paginationPageSize]="3"
        [paginationPageSizeSelector]="[3, 20, 50, 100]"
        (gridReady)="onGridReady($event)"
        style="width: 100%; height: 250px"
      ></ag-grid-angular>
    </div>
  </div>

  <!-- DURATION -->
  <div class="total-duration">
    <!-- <div class="row1">
      <div class="label1">Site Name</div>
      <div class="colon1">:</div>
      <div class="value1">KFC - Tadepally</div>
    </div> -->
    <span>TOTAL DURATION 0h 20m 18s</span>
    <span>INDIA 0h 7m 27s</span>
    <span>US 0h 1m 20s</span>
  </div>
  <div class="div">
    <p class="borderline"></p>
  </div>

  <div class="report-header">
    <h2>ESCALATION REPORT</h2>
    <!-- TIMEZONE -->
    <div class="timezone">
      <label><input type="radio" checked /> CT</label>
      <label><input type="radio" /> Customer TZ (MT)</label>
      <label><input type="radio" /> IST</label>
    </div>
  </div>

  <div class="div">
    <p class="borderline"></p>
  </div>

  <!-- <ag-grid-angular
    style="width: 100%"
    theme="legacy"
    class="ag-theme-alpine"
    [rowData]="escalationRowData"
    [columnDefs]="escalationColumnDefs"
    [defaultColDef]="{ resizable: true }"
    [pagination]="true"
    [enableCellTextSelection]="true"
    [enableRangeSelection]="true"
    [copyHeadersToClipboard]="true"
    [paginationPageSize]="3"
    [paginationPageSizeSelector]="[3, 20, 50, 100]"
    domLayout="autoHeight"
    (gridReady)="onGridReady($event)"
  >
  </ag-grid-angular> -->
<ag-grid-angular
  style="width: 100%"
  theme="legacy"
  class="ag-theme-alpine"
  [rowData]="escalationRowData"
  [columnDefs]="escalationColumnDefs"
  [defaultColDef]="{ resizable: true }"
  [pagination]="true"
  [enableCellTextSelection]="true"
  [enableRangeSelection]="true"
  [copyHeadersToClipboard]="true"
  [paginationPageSize]="3"
  [paginationPageSizeSelector]="[3, 20, 50, 100]"
  domLayout="autoHeight"
  (gridReady)="onGridReady($event)"
>
</ag-grid-angular>

  <div class="report-header">
    <h2>Comments</h2>
    <!-- TIMEZONE -->
    <div class="timezone">
      <p-button label="Add" class="today-btn" (onClick)="addComments()">
      </p-button>
    </div>
  </div>
  <div class="div">
    <p class="borderline"></p>
  </div>

  <ag-grid-angular
    #commentGrid
    style="width: 100%"
    theme="legacy"
    class="ag-theme-alpine"
    [rowData]="commentRowData"
    [columnDefs]="commentColumnDefs"
    [defaultColDef]="{ resizable: true }"
    [pagination]="true"
    [paginationPageSize]="3"
    [enableCellTextSelection]="true"
    [enableRangeSelection]="true"
    [copyHeadersToClipboard]="true"
    [paginationPageSizeSelector]="[3, 20, 50, 100]"
    domLayout="autoHeight"
    (gridReady)="onCommentGridReady($event)"
  >
  </ag-grid-angular>
</div>
