<div class="calendar-header">
<p-dropdown 
    [options]="viewOptions" 
    [(ngModel)]="viewMode" 
    placeholder="DAY" 
    class="view-select" 
    styleClass="w-12"
    [showClear]="false"
    (onChange)="onViewModeChange($event.value)">
</p-dropdown>
  <p-button label="TODAY" class="today-btn" (onClick)="goToday()"> </p-button>

<ng-container *ngIf="viewMode !== 'week' && viewMode !== 'month'">
  <button class="circle-btn" (click)="prevMonth()">
    <img class="calenderimage" src="../../../assets/arrow-circle-left.svg" alt="" />
  </button>

  <span class="selected-range font-Neometric-Bold" #rangeTrigger (click)="op.toggle($event)">
    {{ startDate | date : "dd MMM, yyyy HH:mm a" | uppercase }} -
    {{ endDate | date : "dd MMM, yyyy HH:mm a" | uppercase }}
  </span>

  <button class="circle-btn" (click)="nextMonth()">
    <img class="calenderimage" src="../../../assets/arrow-circle-right.svg" alt="" />
  </button>
</ng-container>

<div class="week-cards" *ngIf="viewMode === 'week'">
  <button class="circle-btn" (click)="prevWeekWindow()">
    <img class="calenderimage" src="../../../assets/arrow-circle-left.svg" alt="" />
  </button>

  <div class="week-card" 
       *ngFor="let week of visibleWeekWindow()" 
       (click)="selectWeek(week)" 
       [class.active]="currentWeekIndex === weeks.indexOf(week)">
    {{ week.label }} <br>
    <!-- {{ week.start | date:'MMM d, yyyy' }} - {{ week.end | date:'MMM d, yyyy' }} -->
  </div>

  <button class="circle-btn" (click)="nextWeekWindow()">
    <img class="calenderimage" src="../../../assets/arrow-circle-right.svg" alt="" />
  </button>
</div>

<div class="month-cards" *ngIf="viewMode === 'month'">
  <button class="circle-btn" (click)="prevMonthWindow()">
    <img class="calenderimage" src="../../../assets/arrow-circle-left.svg" alt="" />
  </button>

  <div class="month-card"
       *ngFor="let month of visibleMonthWindow()"
       (click)="selectMonth(month)"
       [class.active]="currentMonthIndex === months.indexOf(month)">
    {{ month.label }}
  </div>

  <button class="circle-btn" (click)="nextMonthWindow()">
    <img class="calenderimage" src="../../../assets/arrow-circle-right.svg" alt="" />
  </button>
</div>

  <p-button class="custom-today-btn" (click)="op.toggle($event)">
    <ng-template pTemplate="icon">
      <img class="calenderimage" src="../../../assets/calender.svg" alt="" />
    </ng-template>
  </p-button>
</div>

<p-overlayPanel #op [dismissable]="true" [showCloseIcon]="false">
  <ng-template pTemplate>
    <div class="popup-container">
      <form class="p-fluid">
        <div class="popup-header">
          <div class="date-time-inputs">
            <div class="input-group">
              <div class="p-field-checkbox">
                <p-checkbox name="remember" label="Date Range" [(ngModel)]="dateRange" [binary]="true">
                </p-checkbox>
              </div>
            </div>
            <div class="input-group">
              <div class="p-field-checkbox">
                <p-checkbox name="remember" label="Whole Day" [(ngModel)]="wholeday" [binary]="true">
                </p-checkbox>
              </div>
            </div>
          </div>
        </div>
      </form>

      <div class="date-time-inputs">
        <div class="input-group">
          <label for="startDateTime" class="label p-b-10">Start Date & Time</label>
          <p-calendar id="startDateTime" [(ngModel)]="startDate" [showTime]="true" [hourFormat]="'12'"
            dateFormat="dd/mm/yy" [timeOnly]="false" inputId="start" class="inputdatetime" [readonlyInput]="true"
            appendTo="body" [maxDate]="today">
          </p-calendar>
        </div>

        <div class="input-group">
          <label for="endDateTime" class="label p-b-10">End Date & Time</label>
          <p-calendar id="endDateTime" [(ngModel)]="endDate" [showTime]="true" [hourFormat]="'12'" dateFormat="dd/mm/yy"
            [timeOnly]="false" inputId="end" class="inputdatetime" [readonlyInput]="true" appendTo="body"
            [maxDate]="today">
          </p-calendar>
        </div>
        <div class="popup-footer">
          <p-button label="Confirm" severity="danger" (onClick)="confirmSelection(op)" class="submitdate">
          </p-button>
        </div>
      </div>

      <div class="custom-calendar" *ngIf="viewMode === 'month'">
        <div class="month-header">
          <button class="circle-btn" (click)="prevMonth()">&lt;</button>
          <span>{{ currentMonth | date : "MMMM yyyy"  | uppercase }}</span>
          <button class="circle-btn" (click)="nextMonth()">&gt;</button>
        </div>
        <div class="weekdays">
          <div>S</div>
          <div>M</div>
          <div>T</div>
          <div>W</div>
          <div>T</div>
          <div>F</div>
          <div>S</div>
        </div>
        <div class="days-grid">
          <div *ngFor="let day of daysInMonth" class="day" [class.empty]="!day.date"
            [class.selected]="day.date && isSelected(day.date)" (click)="day.date && selectDate(day.date)">
            {{ day.date ? (day.date | date : "d") : "" }}
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</p-overlayPanel>

<!-- Removed the hidden trigger div since we're using explicit triggers -->