
@font-face {
  font-family: 'Neometric Regular';
  src: url('src/assets/fonts/neometric-2-webfont/Neometric-Regular.woff')
       format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Neometric Medium';
  src: url('src/assets/fonts/neometric-2-webfont/Neometric-Medium-(Regular).woff')
       format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Nasalization';
  src: url('src/assets/fonts/neometric-2-webfont/NASALIZA.woff')
       format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
    font-family: 'NasalizationLight';
    font-style: normal;
    /* font-weight: 400; */
    src: url('src/assets/fonts/Nasalization Rg.otf') format('opentype'),
}


/* === HEADER === */
.header {
  display: grid;
  grid-template-columns: 1fr 10px 9fr 10px 2fr;
  align-items: center;
  padding: 10px 20px;
  background-color: #f9f9f9;
  border-bottom: 1px solid #ddd;
}

.username{
  font-family: 'Neometric Regular';
  font-size: 14px;
  /* color: #333;   */
  margin: 0px;
   
      text-transform: none !important;
  font-variant-caps: normal !important;
}

.userPosition1{
      font-family: 'NasalizationLight';
  font-size: 14px;
  /* color: #333;   */
  margin: 0px;
}


.userPosition{
font-family: 'Neometric Regular';
    font-size: 9px;
    margin: 0px;
    opacity: 35%;
    font-style: italic;
     text-transform: none !important;
  font-variant-caps: normal !important;
}

.header-section {
  display: flex;
  align-items: center;
}

a.active svg path {
  fill: #ED3237; /* Turns the SVG red when active */
}

a svg path {
  fill: #40404065; /* Default color */
  /* opacity: 25%; */
}

.logo-img {
  height: 45px;
  vertical-align: middle;
  margin-right: 10px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  display: flex;
  justify-content: flex-start;
}

.logo .ai {
  color: red;
}

.logo .live {
  background: red;
  color: white;
  padding: 2px 5px;
  border-radius: 4px;
  font-size: 12px;
  margin-left: 5px;
}

.divider {
  width: 1px;
  height: 40px;
  background-color: rgba(135, 128, 128, 0.479);
}

.nav {
  justify-content: flex-start;
}

nav a {
 
  display: inline-flex;
  font-weight: 500; 
    align-items: flex-start;
  margin: 0 10px;
  text-decoration: none;
  color: #000000;
    opacity: 25%;
    font-family: 'Neometric Medium' !important;
  font-size: 12px !important;
}

nav a.active {
  color: #000000;
   opacity: 100%;
}

/* nav a:hover {
  color: #000000;
  opacity: 25%;
} */

.user {
  display: flex;
  justify-content: space-around;
}

.user-icon {
  font-size: 30px;
  margin-right: 10px;
}

.ticket-icon{
 cursor: pointer;
    width: 40px;
    height: 40px;
    background-color: white;
    display: inline-block;
    border-radius: 50%;
    margin-right: 6px;
    border: 2px solid red;
}
.ticket-icon {
  position: relative;
  background: #fff; /* adjust if needed */
  border-radius: 50%;
  padding: 8px;
  border: 2px solid red;
  cursor: pointer;
}

.nav-icon {
  width: 24px;
  height: 24px;
}

.ticket-count {
    position: absolute;
    top: -11px;
    right: -11px;
    background: red;
    color: white;
    font-size: 10px;
    font-weight: bold;
    border-radius: 50%;
    min-width: 30px;
    text-align: center;
    line-height: 20px;
}


.user-icon {
 cursor: pointer;
    width: 40px;
    height: 40px;
    background-color: white;
    display: inline-block;
    border-radius: 50%;
    margin-right: 6px;
    border: 2px solid red;
}

.nav-icon {
  width: 17px;
  height: 17px;
  margin-right: 6px;
}

.nav-icon1 {
  width: 17px;
  height: 17px;
  /* margin-right: 6px; */
}