<div class="popup-container">
  <div class="filter-item">
    <div class="status-wrapper">
      <h3 class="filters-title">STATUS</h3>
      <label class="switch">
        <input
          type="checkbox"
          [checked]="data?.status === 'ACTIVE'"
          (change)="onStatusToggle($event)"
        />
        <span class="slider round"></span>
      </label>
    </div>

    <!-- + Button -->
    <button class="plus-btn" (click)="openPopup(data)">+</button>

    <!-- Popup -->
    <div class="popup-menu" *ngIf="showPopup">
      <!-- <button class="popup-item" (click)="openSection('site')">
        <img src="assets/home.svg" alt="Dashboard" class="nav-icon" /> Site
      </button> -->
      <button class="popup-item" (click)="openSection('camera')">
        <img src="assets/cam.svg" alt="Dashboard" class="nav-icon" /> Site &
        Camera
      </button>
      <button class="popup-item" (click)="openSection('employee')">
        <img src="assets/moniter.svg" alt="Dashboard" class="nav-icon" />
        Employee
      </button>
    </div>
  </div>

  <!-- Sites Table -->
  <div class="report-header">
    <h2>SITES INFO</h2>
  </div>
  <ag-grid-angular
    class="ag-theme-alpine report-grid"
    style="width: 100%; height: 280px"
    [rowData]="sitesRowData"
    theme="legacy"
    [columnDefs]="sitesColumnDefs"
    [defaultColDef]="defaultColDef"
    [treeData]="true"
    [getDataPath]="getDataPath"
    [animateRows]="true"
     [rowHeight]="30"
    [paginationPageSize]="6"
    [suppressRowClickSelection]="true"
    [suppressAggFuncInHeader]="true"
    [paginationPageSizeSelector]="[6, 10, 50, 100]"
    [enableCellTextSelection]="true"
    [enableRangeSelection]="true"
    [copyHeadersToClipboard]="true"
    [autoGroupColumnDef]="autoGroupColumnDef"
    (gridReady)="onSitesGridReady($event)"
     [context]="{ componentParent: this }"
  >
  </ag-grid-angular>

  <!-- Users Table -->
  <div class="report-header" style="margin-top: 20px">
    <h2>EMPLOYEE INFO</h2>
  </div>
  <ag-grid-angular
    class="ag-theme-alpine report-grid"
  theme="legacy"
  [rowData]="usersRowData"
  [columnDefs]="usersColumnDefs"
  [defaultColDef]="defaultColDef"
  [enableCellTextSelection]="true"
  [enableRangeSelection]="true"
   [rowHeight]="30"
  [copyHeadersToClipboard]="true"
  [pagination]="true"
  [animateRows]="true"
  [paginationPageSize]="6"
  [paginationPageSizeSelector]="[6, 10, 50, 100]"
  style="width: 100%; height: 280px"
  (gridReady)="onUsersGridReady($event)"
    [context]="{ componentParent: this }"
  >
  </ag-grid-angular>
</div>
